DB_HOST=localhost
DB_PORT=5432
DB_NAME=salesland_test
DB_USER=postgres
DB_PASSWORD=postgres

#################### FOLDERS ####################
#Periodic data directory
PERIODIC_DATA_DIR=C:\Users\bmmartinez\Documents\workspace_python\SALESLAND\periodic